
<!-- Logger.js -->
<script src="../assets/Logger.js"></script>

<!-- Heading -->
<h1>Inch to Cm Converter</h1>

<!-- Description -->
<div class="text">
  <span class="subtitle">Enter a decimal number for centimeter, and a decimal or fractional number for inch, for example, "1 1/4".</span>
</div>

<!-- Labels - Inch and Cm -->
<div class="labelinchandcm">
  <span class="inch">Inch</span>
  <span class="cm">Cm</span>
</div>

<!-- Inputs - Inch and Cm -->
<div class="flexbox">
  <input class="col1" type="text" [(ngModel)]="inch" (input)="convertToInch()" size="1">
  <span class="col2"> &#8644; </span>
  <input class="col3" type="text" [(ngModel)]="cm" (input)="convertToCm()" size="1">
</div>

<!-- Checkbox - Use Fraction -->
<fieldset>
  <input type="checkbox" id="useFraction" name="useFraction" [(ngModel)]="fractionUsed">
  <label for="useFraction">Use Fraction</label>
</fieldset>

<!-- Conversion result -->
<p>
  Conversion: <br>
  {{inch}} in * 2.54 = {{inchDecimal}} in * 2.54 = {{cm}} cm
</p>
